In [27]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [17]:
train = pd.read_csv('train.csv',error_bad_lines=False)
test = pd.read_csv('test.csv',error_bad_lines=False)

In [18]:
train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [19]:
train.shape

(647054, 7)

In [41]:
test.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,1,Friday,7.250339e+10,1,SHOES,3002.0
1,1,Friday,1.707711e+09,1,DAIRY,1526.0
2,1,Friday,8.947000e+10,1,DAIRY,1431.0
3,1,Friday,8.849121e+10,1,GROCERY DRY GOODS,3555.0
4,2,Friday,2.840015e+09,1,DSD GROCERY,4408.0

In [21]:
test.shape

(653646, 6)

In [10]:
train.isnull().any()

ID                               False
var3                             False
var15                            False
imp_ent_var16_ult1               False
imp_op_var39_comer_ult1          False
imp_op_var39_comer_ult3          False
imp_op_var40_comer_ult1          False
imp_op_var40_comer_ult3          False
imp_op_var40_efect_ult1          False
imp_op_var40_efect_ult3          False
imp_op_var40_ult1                False
imp_op_var41_comer_ult1          False
imp_op_var41_comer_ult3          False
imp_op_var41_efect_ult1          False
imp_op_var41_efect_ult3          False
imp_op_var41_ult1                False
imp_op_var39_efect_ult1          False
imp_op_var39_efect_ult3          False
imp_op_var39_ult1                False
imp_sal_var16_ult1               False
ind_var1_0                        True
ind_var1                         False
ind_var2_0                       False
ind_var2                         False
ind_var5_0                       False
ind_var5                         False
ind_var6_0                       False
ind_var6                         False
ind_var8_0                       False
ind_var8                         False
                                 ...
saldo_medio_var13_corto_hace2     True
saldo_medio_var13_corto_hace3     True
saldo_medio_var13_corto_ult1      True
saldo_medio_var13_corto_ult3      True
saldo_medio_var13_largo_hace2     True
saldo_medio_var13_largo_hace3     True
saldo_medio_var13_largo_ult1      True
saldo_medio_var13_largo_ult3      True
saldo_medio_var13_medio_hace2     True
saldo_medio_var13_medio_hace3     True
saldo_medio_var13_medio_ult1      True
saldo_medio_var13_medio_ult3      True
saldo_medio_var17_hace2           True
saldo_medio_var17_hace3           True
saldo_medio_var17_ult1            True
saldo_medio_var17_ult3            True
saldo_medio_var29_hace2           True
saldo_medio_var29_hace3           True
saldo_medio_var29_ult1            True
saldo_medio_var29_ult3            True
saldo_medio_var33_hace2           True
saldo_medio_var33_hace3           True
saldo_medio_var33_ult1            True
saldo_medio_var33_ult3            True
saldo_medio_var44_hace2           True
saldo_medio_var44_hace3           True
saldo_medio_var44_ult1            True
saldo_medio_var44_ult3            True
var38                             True
TARGET                            True
Length: 371, dtype: bool

In [22]:
train = train.dropna()

In [23]:
train.shape

(642925, 7)

In [40]:
test.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,1,Friday,7.250339e+10,1,SHOES,3002.0
1,1,Friday,1.707711e+09,1,DAIRY,1526.0
2,1,Friday,8.947000e+10,1,DAIRY,1431.0
3,1,Friday,8.849121e+10,1,GROCERY DRY GOODS,3555.0
4,2,Friday,2.840015e+09,1,DSD GROCERY,4408.0

In [25]:
test.shape

(649660, 6)

In [26]:
train.describe()

,TripType,VisitNumber,Upc,ScanCount,FinelineNumber
count,642925.000000,642925.000000,6.429250e+05,642925.000000,642925.000000
mean,58.337228,96199.870353,3.060698e+10,1.110203,3726.884567
std,156.559892,55552.836758,9.120134e+10,0.701240,2780.966158
min,3.000000,5.000000,8.340000e+02,-12.000000,0.000000
25%,27.000000,49300.000000,3.400001e+09,1.000000,1404.000000
50%,39.000000,97116.000000,7.050103e+09,1.000000,3352.000000
75%,40.000000,144353.000000,3.006531e+10,1.000000,5501.000000
max,999.000000,191347.000000,9.789707e+11,71.000000,9998.000000

In [28]:
test.describe()

         VisitNumber           Upc      ScanCount  FinelineNumber
count  649660.000000  6.496600e+05  649660.000000   649660.000000
mean    97063.667517  3.054325e+10       1.110102     3725.241185
std     55579.560540  9.125453e+10       0.713219     2776.625808
min         1.000000  8.340000e+02     -21.000000        0.000000
25%     49702.750000  3.400001e+09       1.000000     1404.000000
50%     98261.000000  7.047049e+09       1.000000     3353.000000
75%    145305.250000  3.004167e+10       1.000000     5501.000000
max    191348.000000  9.789707e+11      55.000000     9999.000000

In [43]:
X = train[['VisitNumber','Upc','ScanCount','FinelineNumber']].copy()
y = train['TripType'].copy()

In [44]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state = 324)

In [62]:
triptype_classifier = DecisionTreeClassifier(max_leaf_nodes=100, random_state=0)

In [46]:
X_train.head()

        VisitNumber           Upc  ScanCount  FinelineNumber
176103        53070  4.009414e+09          1          3006.0
427024       127101  3.746608e+09          1            84.0
337126       100631  5.114197e+09          1          4103.0
172443        52017  2.200001e+09          1           135.0
623693       185640  6.785230e+10          1          2510.0

In [47]:
X_train.shape

(430759, 4)

In [48]:
X_test.head()

        VisitNumber           Upc  ScanCount  FinelineNumber
623372       185569  7.874204e+09          2          9220.0
524374       154979  6.053886e+10          1             0.0
11996          4049  3.700086e+09          1          3041.0
370682       109125  4.510006e+09          1          2536.0
625374       186099  1.900009e+09          1            96.0

In [38]:
X_test.shape

(212166, 7)

In [49]:
y_train.head()

176103    24
427024    40
337126    44
172443    40
623693    40
Name: TripType, dtype: int64

In [63]:
triptype_classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=100,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [64]:
predictions = triptype_classifier.predict(X_test)

In [65]:
accuracy_score(y_true = y_test,y_pred = predictions)

0.30718399743596997