In [2]:
import sqlite3
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [3]:
cnx = sqlite3.connect('database.sqlite')
cnx

In [25]:
df = pd.read_sql_query('SELECT * FROM Player_Attributes',cnx)

In [5]:
df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [6]:
df.shape

(183978, 42)

In [7]:
df.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [8]:
features = [
       'potential', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes']

In [50]:
target = df['overall_rating']

In [48]:
df=df.dropna()

In [49]:
X = df[features]

In [51]:
y = target.to_frame()

In [40]:
y

        overall_rating
0                 67.0
1                 67.0
2                 62.0
3                 61.0
4                 61.0
5                 74.0
6                 74.0
7                 73.0
8                 73.0
9                 73.0
10                73.0
11                74.0
12                73.0
13                71.0
14                71.0
15                71.0
16                70.0
17                70.0
18                70.0
19                70.0
20                70.0
21                70.0
22                69.0
23                69.0
24                69.0
25                69.0
26                69.0
27                69.0
28                69.0
29                68.0
...                ...
183948            68.0
183949            68.0
183950            68.0
183951            67.0
183952            67.0
183953            68.0
183954            68.0
183955            68.0
183956            68.0
183957            67.0
183958            67.0
183959            67.0
183960            67.0
183961            67.0
183962            67.0
183963            70.0
183964            70.0
183965            72.0
183966            75.0
183967            78.0
183968            78.0
183969            81.0
183970            81.0
183971            81.0
183972            83.0
183973            83.0
183974            78.0
183975            77.0
183976            78.0
183977            80.0

[183978 rows x 1 columns]

In [16]:
type(features)

list

In [41]:
type(X)

pandas.core.frame.DataFrame

In [44]:
type(y)

pandas.core.frame.DataFrame

In [52]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.33,random_state = 324)

In [53]:
regressor = LinearRegression()

In [54]:
regressor.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/linalg/basic.py:1018: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [55]:
y_prediction = regressor.predict(X_test)

In [56]:
y_prediction

array([[ 66.40433334],
       [ 79.75883802],
       [ 66.57484455],
       ...,
       [ 67.31254858],
       [ 79.25381993],
       [ 72.65926411]])

In [62]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [63]:
print(RMSE)

1.8292346281444294

In [59]:
regressor = DecisionTreeRegressor(max_depth=20)

In [60]:
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [61]:
y_prediction = regressor.predict(X_test)