In [1]:
import pandas as pd

In [45]:
ordered_satisfaction = ['Very Unhappy','Unhappy','Neutral','Happy','Very Happy']

In [46]:
df = pd.DataFrame({'satisfaction':['Mad','Happy','Unhappy','Neutral']})

In [13]:
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [49]:
df['satisfaction2'] = df.satisfaction.astype(dtype='category',
    ordered=True,
    categories=ordered_satisfaction
).cat.codes

In [50]:
df

  satisfaction  satisfaction2
0          Mad             -1
1        Happy              3
2      Unhappy              1
3      Neutral              2

In [41]:
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']

In [42]:
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})

In [43]:
df['satisfaction2'] = df.satisfaction.astype("category",
  ordered=True,
  categories=ordered_satisfaction
)

In [44]:
df

  satisfaction satisfaction2
0          Mad           NaN
1        Happy         Happy
2      Unhappy       Unhappy
3      Neutral       Neutral

In [51]:
df2 = pd.DataFrame({'vertebrates':[
    'Bird',
    'Bird',
    'Mammal',
    'Fish',
    'Amphibian',
    'Reptile',
    'Mammal',
    ]})

In [52]:
df2

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [57]:
df2b = pd.DataFrame({'vertebrates':['Bird','Bird','Mammal','Fish','Amphibian','Reptile','Mammal']})

In [58]:
df2b

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [60]:
df2['vertebrates2']=df2.vertebrates.astype('category').cat.codes

In [62]:
df2 = pd.get_dummies(df2,columns = ['vertebrates'])

In [63]:
df2

,vertebrates2,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,1,0,1,0,0,0
1,1,0,1,0,0,0
2,3,0,0,0,1,0
3,2,0,0,1,0,0
4,0,1,0,0,0,0
5,4,0,0,0,0,1
6,3,0,0,0,1,0

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

In [67]:
corpus = [
  "Authman ran faster than Harry because he is an athlete.",
  "Authman and Harry ran faster and faster.",
    'W00t'
 ]

In [68]:
corpus

['Authman ran faster than Harry because he is an athlete.',
 'Authman and Harry ran faster and faster.',
 'W00t']

In [69]:
bow = CountVectorizer()
X = bow.fit_transform(corpus)

In [70]:
X

<3x12 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [71]:
bow.get_feature_names()

['an',
 'and',
 'athlete',
 'authman',
 'because',
 'faster',
 'harry',
 'he',
 'is',
 'ran',
 'than',
 'w00t']

In [72]:
X.toarray()

array([[1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0],
       [0, 2, 0, 1, 0, 2, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [73]:
from scipy import misc

In [74]:
img = misc.imread('importance.png')

FileNotFoundError: [Errno 2] No such file or directory: 'importance.png'