In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [ ]:
# load data
sql_dataframe   = pd.read_sql_table('my_table', engine, columns=['ColA', 'ColB'])
xls_dataframe   = pd.read_excel('my_dataset.xlsx', 'Sheet1', na_values=['NA', '?'])
json_dataframe  = pd.read_json('my_dataset.json', orient='columns')
csv_dataframe   = pd.read_csv('my_dataset.csv', sep=',')
table_dataframe = pd.read_html('http://page.com/with/table.html')[0]

In [ ]:
df.dtypes

In [ ]:
# drop rows with > 4 nan values
# get index of these rows first, then drop
df=df.drop(df[df.isnull().sum(axis=1)>4].index.values)

In [ ]:
# select columns
df.iloc[:,3:] # df.loc[row_indexer,column_indexer]

In [ ]:
# replace value as null
df.replace('?',np.NaN)

In [ ]:
# fill NaN by the mean of the column
df.my_feature.fillna(df.my_feature.mean(axis = 0))

In [ ]:
df.fillna(method='ffill')  # fill the values forward
df.fillna(method='bfill')  # fill the values in reverse
df.fillna(limit=5)

In [ ]:
# Fill out nans by interpolating over them with 
# the non-nan values that come immediately before and after.
df.interpolate(method='polynomial', order=2)

In [ ]:
df = df.dropna(axis=0)  # remove any row with nans
df = df.dropna(axis=1)  # remove any column with nans

In [ ]:
# Drop non-nan values
# Axis=1 for columns
df = df.drop(labels=['Features', 'To', 'Delete'], axis=1)

In [ ]:
# drop duplicates based on subset
# only keep the first one
df = df.drop_duplicates(subset=['Feature_1', 'Feature_2'])

In [ ]:
# reset index after dropping rows
# drop the original index
df = df.reset_index(drop=True)

In [ ]:
# chain methods
df = df.dropna(axis=0, thresh=2).drop(labels=['ColA', axis=1]).drop_duplicates(subset=['ColB', 'ColC']).reset_index()

In [ ]:
# convert column data types
# The errors='coerce' parameter instructs Pandas 
# to enter a NaN at any field where the conversion fails

# for one column(convert series)
df.Date = pd.to_datetime(df.Date, errors='coerce')
df.Height = pd.to_numeric(df.Height, errors='coerce')
df.Weight = pd.to_numeric(df.Weight, errors='coerce')
df.Age = pd.to_numeric(df.Age, errors='coerce')

In [ ]:
# see all unique values in a column
df.Age.unique()
df.Age.value_counts()

In [ ]:
# export data
my_dataframe.to_sql('table', engine)
my_dataframe.to_excel('dataset.xlsx')
my_dataframe.to_json('dataset.json')
my_dataframe.to_csv('dataset.csv')