In [1]:
import pandas as pd
import numpy as np

In [102]:
# read acceleration dataset, update column names
acc = pd.read_csv('accelerometer.csv')
acc.columns = ['timestamp','x','y','z']

In [103]:
acc.head()
acc.shape

(1073806, 4)

In [104]:
# read gps dataset, update column names
gps = pd.read_csv('gps.csv')
gps.head()
gps.columns = ['timestamp','longitude','latitute','altitude','vertical','horizontal','instant_v']

In [105]:
gps.head()
gps.shape

(21051, 7)

In [106]:
# read gyro dateset, update column names
gyro = pd.read_csv('gyro.csv')
gyro.columns=['timestamp','x_axis','y_axis','z_axis']

In [61]:
gyro.head()

       timestamp  x_axis  y_axis  z_axis
0  1501784767976  0.0308  0.0193 -0.0134
1  1501784767996  0.0298  0.0044 -0.0081
2  1501784768016  0.0118 -0.0084  0.0001
3  1501784768036  0.0287  0.0182 -0.0135
4  1501784768056  0.0266  0.0097 -0.0124

In [96]:
gyro.shape

(1112308, 4)

In [9]:
# convert timestamp in millionseconds to date time (format: YYYY-MM-DD hh:mm:ss)
# group by date time, take mean value of each feature
def getdate(df):
    df_to_date = pd.to_datetime(df['timestamp'],unit='ms')
    str_df_to_date = df_to_date.apply(str).str[:19]
    df['to_second']=str_df_to_date
    del df['timestamp']
    df_group = df.groupby('to_second').mean()
    df = df_group.reset_index()    
    return df

In [107]:
acc = getdate(acc)
gps = getdate(gps)
gyro = getdate(gyro)

In [41]:
# merge three tables on date time
def merge_table(df1,df2,df3):
    df1_df2 = df1.merge(df2,on = 'to_second',how = 'inner')
    df1_df2_df3 = df1_df2.merge(df3, on = 'to_second',how = 'inner')
    return df1_df2_df3

In [110]:
merged = merge_table(gps,acc,gyro)

In [111]:
# export dataset
merged.to_csv('Vehicle_merged_1.csv')